O/static/dtd/Orena.apps.dtd

<!ELEMENT Applications (App+)>

<!ELEMENT App (Condition+)>
<!ATTLIST App
	name CDATA #REQUIRED
	prefix CDATA #REQUIRED
	extension CDATA #IMPLIED>
	
<!ELEMENT Condition (Url*, Host*)>
<!ATTLIST Condition
	mode CDATA #REQUIRED
	pattern CDATA #IMPLIED>
	
<!ELEMENT Url (#PCDATA)>
<!ATTLIST Url
	base CDATA #IMPLIED
	pattern CDATA #IMPLIED>
	
<!ELEMENT Host (#PCDATA)>
<!ATTLIST Host
	value CDATA #IMPLIED
	pattern CDATA #IMPLIED>